@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

.container {
    font-family: 'Caveat', cursive;
    width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.range {
    display: flex;
    justify-content: space-between;
    width: 380px;
}


.rangeDouble {
    display: flex;
    justify-content: space-between;
    width: 380px;
}

.spanRange {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}