
.main {
    display: flex;
    justify-content: right;
    margin: 5px 100px;
}

.container {
    position: fixed;
    min-width: 220px;
    min-height: 50px;
}

.timeDate {
    font-weight: 700;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 155px;
    min-height: 80px;
    flex: 1 1 auto;
    background-color: #2F4F4F;
    color: #00FF7F;
    border: 6px outset #7a8fed;
    padding: 5px 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}
