.superspan {
    min-width: 150px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.superspan:hover {
    color: #ede94a;
    transition: all 1s;
}

.imgspan {
    height: 30px;
    width: 30px;
    margin: 3px 0 0 0;
}