.superInput {
    background: -webkit-linear-gradient(135deg, rgb(247, 241, 241) 48%, rgb(55, 210, 217) 98%);
    background: -moz-linear-gradient(135deg, rgb(247, 241, 241) 48%, rgb(55, 210, 217) 98%);
    background: linear-gradient(135deg, rgb(247, 241, 241) 48%, rgb(55, 210, 217) 98%);
   font-weight: 700;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 20px;
}
.superInput:focus {
    box-shadow: 0 0 20px rgba(37, 59, 255, 0.8);
}

.errorInput {
    border-radius: 20px;
    font-weight: 700;
    font-size: 15px;
    margin-top: 5px;
    background: -webkit-linear-gradient(135deg, rgb(247, 241, 241) 31%, rgb(217, 55, 55) 100%);
    background: -moz-linear-gradient(135deg, rgb(247, 241, 241) 31%, rgb(217, 55, 55) 100%);
    background: linear-gradient(135deg, rgb(247, 241, 241) 31%, rgb(217, 55, 55) 100%);
}

.errorInput:focus {
    box-shadow: 0 0 20px rgba(255,41,30,0.8);
}

.error {
    color: red;
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;

}
