.blue {
    color: red;
}

.column {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 210px;
    width: 200px;
}

.testSpanError {
    color: red;
}

.container {
    max-width: 300px;
    margin: 0 auto;
}
