
.main {
    max-width: 270px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 249, 245, 0.3);
}

.text {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 20px;
}
